# Configuración de Red del Robot
# ---------------------------------------------------------
# IP del controlador del robot (Real o Simulador URSim)
ROBOT_IP=192.168.0.210

# Parámetros de Movimiento (Futuras implementaciones)
# ---------------------------------------------------------
# Velocidad lineal máxima (m/s)
# ROBOT_VELOCITY=0.25

# Aceleración máxima (m/s^2)
# ROBOT_ACCELERATION=0.2

# Configuración del Perfilómetro Gocator (Pendiente)
# ---------------------------------------------------------
# GOCATOR_IP=192.168.1.10
